<div class="row">
  <div class="col-md-12">
    <h2>Post details</h2>
    <% @table_posts.each do |row| %>

        <p class="text-success">
          <%= row['content'] %>
        </p>
        <p>
          Add at:<%= row['create_date'] %>
        </p>
        <br />
        <br />

    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-5">
    <h4>Comments</h4>
    <form action="/details/<%= @post_id %>" method="post" role="form">
      <textarea name="text_area" class="form-control" rows="5" placeholder="Type comment text here"></textarea>
      <br />
      <button type="submit" class="btn btn-primary">Add comment</button>
    </form>
  </div>
</div>