<h2>Add new posts</h2>
<p>
  We add post this
</p>
<div>
  <form action="new.erb" method="post" role="form">

    <textarea class="form-control" rows="6"></textarea>
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>